<style>
  .column1 {
    float: left;
    width: 5%;
    padding: 10px;
  }

  .column2 {
    float: left;
    width: 95%;
    padding: 10px;
  }
  .row-notif {
    height: 50px;
  }
  .row-notif:hover {
    background-color: #f6f9fb;
  }
</style>
<style type="text/scss">
  .lds-circle {
    display: inline-block;
    transform: translateZ(1px);
  }
  .lds-circle > div {
    display: inline-block;
    width: 51px;
    height: 51px;
    margin: 6px;
    border-radius: 50%;
    background: #AC0A0A;
    animation: lds-circle 2.4s cubic-bezier(0, 0.2, 0.8, 1) infinite;
  }
  @keyframes lds-circle {
    0%, 100% {
      animation-timing-function: cubic-bezier(0.5, 0, 1, 0.5);
    }
    0% {
      transform: rotateY(0deg);
    }
    50% {
      transform: rotateY(1800deg);
      animation-timing-function: cubic-bezier(0, 0.5, 0.5, 1);
    }
    100% {
      transform: rotateY(3600deg);
    }
  }
</style>
<div style="align-content: center; width: 100%"  *ngIf="notifications.length == 0 && !isLoading">
  <h1 style="font-family: 'Times New Roman';color: #AC0A0A">You have no any notifications, yet</h1>
  <img src="https://cdn.dribbble.com/users/16979/screenshots/183999/v_ipad.png" alt="">
</div>
<div *ngIf="isLoading">
  <div class="lds-circle"><div></div></div><br>
</div>
<div *ngFor="let notification of notifications">
  <div class="row-notif" (click)="showPlace(notification.latitude, notification.longitude)">
    <div class="column1">
      <a style="font-size: 20px;"><i class="glyphicon glyphicon-fire"></i></a>
    </div>
    <div class="column2">
      <div style="font-style: oblique; font-size: 20px; color: #AC0A0A">{{notification.text}}</div>
    </div>
  </div>
  <hr>
</div>
