<style>
  .column1 {
    float: left;
    width: 5%;
    padding: 10px;
  }

  .column2 {
    float: left;
    width: 95%;
    padding: 10px;
  }
  .row-notif {
    height: 50px;
  }
  .row-notif:hover {
    background-color: #f6f9fb;
  }
</style>
<h1 style="font-family: 'Times New Roman';color: #AC0A0A" *ngIf="notifications.length == 0">You have no any notifications, yet</h1>
<div *ngFor="let notification of notifications">
  <div class="row-notif" (click)="showPlace(notification.latitude, notification.longitude)">
    <div class="column1">
      <a style="font-size: 20px;"><i class="glyphicon glyphicon-fire"></i></a>
    </div>
    <div class="column2">
      <div style="font-style: oblique; font-size: 20px; color: #AC0A0A">{{notification.text}}</div>
    </div>
  </div>
  <hr>
</div>
