<style>
  body {
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    font-family: 'Roboto', Tahoma, Arial, sans-serif;
    line-height: 1.5;
    font-size: 13px;
  }

  form {
    outline: 0;
    float: left;
    -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    -webkit-border-radius: 4px;
    border-radius: 4px;
  }

  form > .textbox {
    outline: 0;
    height: 42px;
    width: 30%;
    line-height: 42px;
    padding: 0 16px;
    background-color: rgba(255, 255, 255, 0.8);
    color: #212121;
    border: 0;
    float: left;
    -webkit-border-radius: 4px 0 0 4px;
    border-radius: 4px 0 0 4px;
  }

  form > .textbox:focus {
    outline: 0;
    background-color: #FFF;
  }

  form > .button {
    outline: 0;
    background: none;
    background-color: rgba(38, 50, 56, 0.8);
    float: left;
    height: 42px;
    width: 10%;
    text-align: center;
    line-height: 42px;
    border: 0;
    color: #FFF;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: 16px;
    text-rendering: auto;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
    -webkit-transition: background-color .4s ease;
    transition: background-color .4s ease;
    -webkit-border-radius: 0 4px 4px 0;
    border-radius: 0 4px 4px 0;
  }

  form > .button:hover {
    background-color: rgba(0, 150, 136, 0.8);
  }
  body {
    color: #444;
    font: 100%/30px 'Helvetica Neue', helvetica, arial, sans-serif;
    text-shadow: 0 1px 0 #fff;
  }

  strong {
    font-weight: bold;
  }

  em {
    font-style: italic;
  }

  table {
    background: #f5f5f5;
    border-collapse: separate;
    box-shadow: inset 0 1px 0 #fff;
    font-size: 12px;
    line-height: 24px;
    margin: 30px auto;
    text-align: left;
    width: 800px;
  }

  th {
    background: linear-gradient(#777, #444);
    border-left: 1px solid #555;
    border-right: 1px solid #777;
    border-top: 1px solid #555;
    border-bottom: 1px solid #333;
    box-shadow: inset 0 1px 0 #999;
    color: #fff;
    font-weight: bold;
    padding: 10px 15px;
    position: relative;
    text-shadow: 0 1px 0 #000;
  }

  th:after {
    background: linear-gradient(rgba(255,255,255,0), rgba(255,255,255,.08));
    content: '';
    display: block;
    height: 25%;
    left: 0;
    margin: 1px 0 0 0;
    position: absolute;
    top: 25%;
    width: 100%;
  }

  th:first-child {
    border-left: 1px solid #777;
    box-shadow: inset 1px 1px 0 #999;
  }

  th:last-child {
    box-shadow: inset -1px 1px 0 #999;
  }

  td {
    border-right: 1px solid #fff;
    border-left: 1px solid #e8e8e8;
    border-top: 1px solid #fff;
    border-bottom: 1px solid #e8e8e8;
    padding: 10px 15px;
    position: relative;
    transition: all 300ms;
  }

  td:first-child {
    box-shadow: inset 1px 0 0 #fff;
  }

  td:last-child {
    border-right: 1px solid #e8e8e8;
    box-shadow: inset -1px 0 0 #fff;
  }


  tr:nth-child(odd) td {
    background: #f1f1f1;
  }

  tr:last-of-type td {
    box-shadow: inset 0 -1px 0 #fff;
  }

  tr:last-of-type td:first-child {
    box-shadow: inset 1px -1px 0 #fff;
  }

  tr:last-of-type td:last-child {
    box-shadow: inset -1px -1px 0 #fff;
  }
</style>
<style type="text/scss">
  .btn {
    display: inline-block;
    margin-bottom: 0;
    text-align: center;
    text-transform: uppercase;
    vertical-align: middle;
    cursor: pointer;
    background-image: none;
    whitespace: nowrap;
    padding: 6px 12px;
    font-size: 1.4rem;
    border-radius: 3px;
    border: 1px solid transparent;
    text-decoration: none;
    user-select: none;

    &,
    &:active,
    &.active {
      &:focus {
        outline: thin dotted;
        outline: 5px auto -webkit-focus-ring-color;
        outline-offset: -2px;
      }
    }

    &:hover,
    &:focus,
    &.focus {
      text-decoration: none;
      color: #2a2a2b;
    }

    &:active,
    &.active {
      outline: 0;
      background-image: none;
    }

    &.disabled,
    &[disabled],
    fieldset[disabled] & {
      cursor: not-allowed;
      pointer-events: none;
      box-shadow: none;
    }

    &.btn-xs {
      padding: 3px 6px;
      font-size: 1.2rem;
    }

    &.btn-sm {
      padding: 4px 8px;
      font-size: 1.3rem;
    }

    &.btn-lg {
      padding: 8px 16px;
      font-size: 1.6rem;
    }
  }
  .profile-userpic img {
    float: none;
    margin: 0 auto;
    -webkit-border-radius: 50% !important;
    -moz-border-radius: 50% !important;
    border-radius: 50% !important;
  }
  select:required:invalid {
    color: gray;
  }
</style>
<style>
  tr:hover {
    background-color: #e62727;
    color: #403E10;
    box-shadow: #e62727 -1px 1px, #e62727 -2px 2px, #e62727 -3px 3px, #e62727 -4px 4px, #e62727 -5px 5px, #e62727 -6px 6px;
    transform: translate3d(6px, -6px, 0);

    transition-delay: 0s;
    transition-duration: 0.4s;
    transition-property: all;
    transition-timing-function: line;
  }
</style>
<style type="text/scss">
  .lds-circle {
    display: inline-block;
    transform: translateZ(1px);
  }
  .lds-circle > div {
    display: inline-block;
    width: 51px;
    height: 51px;
    margin: 6px;
    border-radius: 50%;
    background: #673ab7;
    animation: lds-circle 2.4s cubic-bezier(0, 0.2, 0.8, 1) infinite;
  }
  @keyframes lds-circle {
    0%, 100% {
      animation-timing-function: cubic-bezier(0.5, 0, 1, 0.5);
    }
    0% {
      transform: rotateY(0deg);
    }
    50% {
      transform: rotateY(1800deg);
      animation-timing-function: cubic-bezier(0, 0.5, 0.5, 1);
    }
    100% {
      transform: rotateY(3600deg);
    }
  }
</style>
<form method="post" style="font-style: normal">
  <input type="text" class="textbox" placeholder="Name" name="name" id="name" [(ngModel)]="model.name"
         #name="ngModel">
  <input type="text" class="textbox" placeholder="Surname" name="surname" id="surname" [(ngModel)]="model.surname"
         #name="ngModel">
  <input type="text" class="textbox" placeholder="Description" name="description" id="description" [(ngModel)]="model.description"
         #name="ngModel">
  <input type="text" class="textbox" placeholder="Keywords (coming soon)">
  <input type="text" class="textbox" placeholder="Growth" name="height" id="height" [(ngModel)]="model.height"
         #name="ngModel">
  <input type="text" class="textbox" placeholder="Weight" name="width" id="width" [(ngModel)]="model.width"
         #name="ngModel">
  <input placeholder="Fight style" type="text" list="fightStyles" class="textbox" #fightStyleField>
  <datalist id="fightStyles">
    <option>Aikido</option>
    <option>Boxing</option>
    <option>Muay Thai</option>
    <option>Greco-Roman wrestling</option>
    <option>Freestyle wrestling</option>
    <option>Taekwondo</option>
    <option>Jujutsu</option>
    <option>Krav Maga</option>
    <option>Wing Chun</option>
  </datalist>
  <input placeholder="Country" type="text" list="countries" class="textbox" (change)="model.style = $event.target.value === '' ? null : onChangeCountry($event.target.value)" required #countryField>
  <datalist id="countries">
    <option *ngFor="let country of countries" [value]="country.name">{{country.name}}</option>
  </datalist>
  <div *ngIf="isLoading">
    <div class="lds-circle"><div></div></div><br>
  </div>
  <input type="text" list="cities" placeholder="City" *ngIf="!isLoading" class="textbox" (change)="model.style = $event.target.value === '' ? null : onChangeCity($event.target.value)" required>
  <datalist id="cities">
    <option *ngFor="let city of cities" [value]="city.name">{{city.name}}</option>
  </datalist>
  <button class="button" (click)="search()"><i class="glyphicon glyphicon-search"></i></button>
</form>
<table style="padding-top: 10px; width:100%"  *ngIf="!isSearching">
  <thead>
  <tr>
    <th></th>
    <th style="font-style: normal">Name, Surname</th>
    <th style="font-style: normal">Country, city</th>
    <th style="font-style: normal">Description</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>
  </thead>
  <tbody *ngFor="let user of users">
    <tr>
      <td (click)="showProfile(user.email)" class="profile-userpic"><img height=150 width=150 [src]="user == null || user.mainPhoto == null ? 'assets/images/noPhoto.jpeg' : user.mainPhoto"></td>
      <td (click)="showProfile(user.email)">{{user.name}} {{user.surname}}</td>
      <td (click)="showProfile(user.email)">{{user.country}}, {{user.city}}</td>
      <td (click)="showProfile(user.email)">{{user.description.substr(0, 50)}}...</td>
      <td><button class="btn btn-default hover" (click)="inviteToFight(user)">Fight</button></td>
      <td><button class="btn btn-default hover" (click)="dialog(user.email)">Dialog</button></td>
      <td>
        <button class="btn btn-default hover" (click)="bookPerson(user.email)" *ngIf="isPersonBooked(user.email); else bookedPerson">Write down</button>
        <ng-template #bookedPerson>Tracked</ng-template>
      </td>
    </tr>
  </tbody>
</table>
<div *ngIf="isSearching">
  <div class="lds-circle"><div></div></div><br>
</div>
<ngb-pagination [collectionSize]="collectionSize" [(page)]="page" (pageChange)="search()"></ngb-pagination>
