<style>
  /*
	Side Navigation Menu V2, RWD
	===================
	License:
	https://goo.gl/EaUPrt
	===================
	Author: @PableraShow

 */

  @charset "UTF-8";
  @import url(https://fonts.googleapis.com/css?family=Open+Sans:300,400,700);

  body {
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    line-height: 1.42em;
    color:#A7A1AE;
    background-color:#1F2739;
  }

  h1 {
    font-size:3em;
    font-weight: 300;
    line-height:1em;
    text-align: center;
    color: #4DC3FA;
  }

  h2 {
    font-size:1em;
    font-weight: 300;
    text-align: center;
    display: block;
    line-height:1em;
    padding-bottom: 2em;
    color: #FB667A;
  }

  h2 a {
    font-weight: 700;
    text-transform: uppercase;
    color: #FB667A;
    text-decoration: none;
  }

  .blue { color: #185875; }
  .yellow { color: #FFF842; }

  .container th h1 {
    font-weight: bold;
    font-size: 1em;
    text-align: left;
    color: #185875;
  }

  .container td {
    font-weight: normal;
    font-size: 1em;
    -webkit-box-shadow: 0 2px 2px -2px #0E1119;
    -moz-box-shadow: 0 2px 2px -2px #0E1119;
    box-shadow: 0 2px 2px -2px #0E1119;
  }

  .container {
    text-align: left;
    overflow: hidden;
    width: 80%;
    margin: 0 auto;
    display: table;
    padding: 0 0 8em 0;
  }

  .container td, .container th {
    padding-bottom: 2%;
    padding-top: 2%;
    padding-left:2%;
  }

  .container th {
    background-color: #e62727;
  }

  .container td:first-child { color: #FB667A; }

  .container tr:hover {
    background-color: #e62727;
    color: #403E10;
    font-weight: bold;

    box-shadow: #212121 -1px 1px, #212121 -2px 2px, #212121 -3px 3px, #212121 -4px 4px, #212121 -5px 5px, #212121 -6px 6px;
    transform: translate3d(6px, -6px, 0);

    transition-delay: 0s;
    transition-duration: 0.4s;
    transition-property: all;
    transition-timing-function: line;
  }

  @media (max-width: 800px) {
    .container td:nth-child(4),
    .container th:nth-child(4) { display: none; }
  }
  .profile-userpic {
    width: 18%;
  }
  .profile-userpic img {
    float: none;
    margin: 0 auto;
    -webkit-border-radius: 50% !important;
    -moz-border-radius: 50% !important;
    border-radius: 50% !important;
  }
  .button {
    background-color: #AC0A0A;
    border: none;
    color: white;
    padding: 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 50%;
  }
  @import url(https://fonts.googleapis.com/css?family=Open+Sans:400,600);
  .promos {
    width: 100%;
    margin-top: 25px;
    background-color: #292b2e;
  }
  .promo {
    width: 25%;
    background: #0F1012;
    color: #f9f9f9;
    float: left;
    -webkit-animation:slide-in-right .5s cubic-bezier(.25,.46,.45,.94) both;animation:slide-in-right .5s cubic-bezier(.25,.46,.45,.94) both
  }
  .deal {
    padding: 10px 0 0 0;
  }
  .deal span {
    display: block;
    text-align: center;
  }
  .deal span:first-of-type {
    font-size: 23px;
  }
  .deal span:last-of-type {
    font-size: 13px;
  }
  .promo .price {
    display: block;
    width: 250px;
    background: #292b2e;
    margin: 15px 0 10px 0;
    text-align: center;
    font-size: 23px;
    padding: 17px 0 17px 0;
  }
  .promo:hover {
    transform: scale(2); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
  }
  ul {
    display: block;
    margin: 20px 0 10px 0;
    padding: 0;
    list-style-type: none;
    text-align: center;
    color: #999999;
  }
  li {
    display: block;
    margin: 10px 0 0 0;
  }
  button {
    border: none;
    border-radius: 40px;
    background: #292b2e;
    color: #f9f9f9;
    padding: 10px 37px;
    margin: 10px 0 20px 60px;
  }
  .scale {
    transform: scale(1.5);
    box-shadow: 0 0 4px 1px rgba(20, 20, 20, 0.8);
  }
  .hoveredButton {
    background: #64AAA4;
  }
  .scale .price {
    color: #64AAA4;
  }
  @-webkit-keyframes slide-in-right{0%{-webkit-transform:translateX(1000px);transform:translateX(1000px);opacity:0}100%{-webkit-transform:translateX(0);transform:translateX(0);opacity:1}}@keyframes slide-in-right{0%{-webkit-transform:translateX(1000px);transform:translateX(1000px);opacity:0}100%{-webkit-transform:translateX(0);transform:translateX(0);opacity:1}}
</style>
<style type="text/scss">
  .lds-circle {
    display: inline-block;
    transform: translateZ(1px);
  }
  .lds-circle > div {
    display: inline-block;
    width: 51px;
    height: 51px;
    margin: 6px;
    border-radius: 50%;
    background: #AC0A0A;
    animation: lds-circle 2.4s cubic-bezier(0, 0.2, 0.8, 1) infinite;
  }
  @keyframes lds-circle {
    0%, 100% {
      animation-timing-function: cubic-bezier(0.5, 0, 1, 0.5);
    }
    0% {
      transform: rotateY(0deg);
    }
    50% {
      transform: rotateY(1800deg);
      animation-timing-function: cubic-bezier(0, 0.5, 0.5, 1);
    }
    100% {
      transform: rotateY(3600deg);
    }
  }
</style>
<div style="align-content: center; width: 100%"  *ngIf="invites.length == 0 && !isLoading">
  <h1 style="font-family: 'Times New Roman';color: #AC0A0A">You have no any invites, yet</h1>
  <img src="https://cdn.dribbble.com/users/16979/screenshots/183999/v_ipad.png" alt="">
</div>
<div *ngIf="invites.length != 0" style="padding: 0">
<div class="promos" style="width: 104%; height: 535px;margin-left: -20px">
  <div class="promo" *ngFor="let invite of invites; let i = index" [id]="'inviteRecord' + i" onmouseover="{this.classList.add('scale')}" onmouseleave="this.classList.remove('scale')" style="width: 33.3%;height: 100%">
    <div class="deal" (click)="showProfile(invite.fighterInviter.email)">
      <span>{{invite.fighterInviter.name}} </span>
      <span>{{invite.fighterInviter.surname}}</span>
    </div>
    <span class="price" style="width: 100%" (click)="showProfile(invite.fighterInviter.email)">{{invite.fightStyle}} on {{invite.date | date: 'dd.MM.yyyy HH:mm'}}</span>
    <ul class="features" (click)="showProfile(invite.fighterInviter.email)">
      <li><img height=150 width=150 src="assets/images/noPhoto.jpeg"></li>
    </ul>
    <div class="deal" style="overflow-y: auto;height: 65px" (click)="showProfile(invite.fighterInviter.email)">
      <span style="font-size: 17px;">{{invite.comment}}</span>
    </div>
    <div style="width: 310px; margin-top: 5px">
      <button onmouseover="{this.classList.add('hoveredButton')}" onmouseleave="this.classList.remove('hoveredButton')" style="margin: 0;float: left;margin-left: 3px;margin-bottom: 10px" (click)="acceptInvite(invite)">{{locale.accept}}</button>
      <button style="margin: 0;margin-right: 3px;margin-bottom: 10px; float: right" onmouseover="{this.classList.add('hoveredButton')}" onmouseleave="this.classList.remove('hoveredButton')" (click)="startDialog(invite.fighterInviter.email)">{{locale.dialog}}</button><br>
    </div>
    <br>
    <div style="width: 310px;overflow: hidden">
      <button style="margin: 0;float: left;margin-left: 3px"  onmouseover="{this.classList.add('hoveredButton')}" onmouseleave="this.classList.remove('hoveredButton')" (click)="showPlace(invite.latitude, invite.longitude)">{{locale.showPlace}}</button>
      <button style="margin: 0;margin-right: 3px;width: 120px; float: right"  onmouseover="{this.classList.add('hoveredButton')}" onmouseleave="this.classList.remove('hoveredButton')" (click)="declineInvite(invite.id)">{{locale.decline}}</button>
    </div>
  </div>
</div>
<div *ngIf="isLoading">
<div class="lds-circle"><div></div></div><br>
</div>
<ngb-pagination *ngIf="invites.length != 0" [collectionSize]="collectionSize" [(page)]="page" (pageChange)="nextPage()"></ngb-pagination>
</div>
