<style>
  @import url('https://fonts.googleapis.com/css?family=Nunito+Sans|Playfair+Display:400,400i,700,700i,900,900i');

  .body {
    margin: 0;
    height: 500px;
    background-color: #eee;
    background-image: url('https://artwalls.com.ua/image/catalog/fpz/5aa697c28ee373D-287_ham_o.jpg');
    background-size: cover;
    overflow: scroll;
  }

  main {
    height: 20vh;
    display: grid;
    grid-template-columns: 20vw 20vw 20vw;
    width: 75vw;
    justify-content: center;
    align-items: center;
    padding-top: 40px;
  }

  figure {
    max-width: 50vw;
    max-height: 50vw;
    margin-left: 30px;
    background: rgba(255,255,255,0.8);
    padding: 2em;
    border: 1px solid #ddd;
    box-shadow: 0 0 2em -0.5em #aaa;
    position: relative;
    transition: transform .2s; /* Animation */
  }
  figure:hover {
    transform: scale(2); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
  }

  figure img {
    max-width: 100%;
    max-height: 70vh;
  }

  figure figcaption {
    font-family: "Playfair Display";
    font-weight: 900;
    font-size: 3em;
    font-style: italic;
    text-align: right;
    text-shadow: 0 0 1em #555;
    text-shadow: 0 0 0.5em white;
    position: absolute;
    right: -2rem;
    right: -2rem;
    bottom: -2rem;
  }

  .column {
    float: left;
    width: 50%;
    padding: 10px;
    height: 300px; /* Should be removed. Only for demonstration */
  }

  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  .button.large{
    padding: 12px 30px;
    text-transform: uppercase;
  }

  .button.large:active{
    top: 2px;
  }
  .button.red {
    color: #fff;
    text-shadow: 0 1px 0 rgba(0,0,0,.2);

    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(255,255,255,.3)), to(rgba(255,255,255,0)));
    background-image: -webkit-linear-gradient(top, rgba(255,255,255,.3), rgba(255,255,255,0));
    background-image: -moz-linear-gradient(top, rgba(255,255,255,.3), rgba(255,255,255,0));
    background-image: -ms-linear-gradient(top, rgba(255,255,255,.3), rgba(255,255,255,0));
    background-image: -o-linear-gradient(top, rgba(255,255,255,.3), rgba(255,255,255,0));
    background-image: linear-gradient(top, rgba(255,255,255,.3), rgba(255,255,255,0));
  }
  .button.red{
    background-color: #ca3535;
    border-color: #c43c35;
  }

  .button.red:hover{
    background-color: #ee5f5b;
  }

  .button.red:active{
    background: #c43c35;
  }
  .red[disabled], .red[disabled]:hover, .red[disabled]:active{
    border-color: #C43C35;
    background: #C43C35;
    color: #FFD3D3;
  }
  .button{
    display: inline-block;
    *display: inline;
    zoom: 1;
    padding: 6px 20px;
    margin: 0;
    cursor: pointer;
    border: 1px solid #bbb;
    overflow: visible;
    font: bold 13px arial, helvetica, sans-serif;
    text-decoration: none;
    white-space: nowrap;
    color: #555;

    background-color: #ddd;
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(255,255,255,1)), to(rgba(255,255,255,0)));
    background-image: -webkit-linear-gradient(top, rgba(255,255,255,1), rgba(255,255,255,0));
    background-image: -moz-linear-gradient(top, rgba(255,255,255,1), rgba(255,255,255,0));
    background-image: -ms-linear-gradient(top, rgba(255,255,255,1), rgba(255,255,255,0));
    background-image: -o-linear-gradient(top, rgba(255,255,255,1), rgba(255,255,255,0));
    background-image: linear-gradient(top, rgba(255,255,255,1), rgba(255,255,255,0));

    -webkit-transition: background-color .2s ease-out;
    -moz-transition: background-color .2s ease-out;
    -ms-transition: background-color .2s ease-out;
    -o-transition: background-color .2s ease-out;
    transition: background-color .2s ease-out;
    background-clip: padding-box; /* Fix bleeding */
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    -moz-box-shadow: 0 1px 0 rgba(0, 0, 0, .3), 0 2px 2px -1px rgba(0, 0, 0, .5), 0 1px 0 rgba(255, 255, 255, .3) inset;
    -webkit-box-shadow: 0 1px 0 rgba(0, 0, 0, .3), 0 2px 2px -1px rgba(0, 0, 0, .5), 0 1px 0 rgba(255, 255, 255, .3) inset;
    box-shadow: 0 1px 0 rgba(0, 0, 0, .3), 0 2px 2px -1px rgba(0, 0, 0, .5), 0 1px 0 rgba(255, 255, 255, .3) inset;
    text-shadow: 0 1px 0 rgba(255,255,255, .9);

    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
  .modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }

  /* Modal Content */
  .modal-content {
    position: relative;
    background-color: #fefefe;
    margin: auto;
    padding: 0;
    border: 1px solid #888;
    width: 40%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s
  }

  /* Add Animation */
  @-webkit-keyframes animatetop {
    from {top:-300px; opacity:0}
    to {top:0; opacity:1}
  }

  @keyframes animatetop {
    from {top:-300px; opacity:0}
    to {top:0; opacity:1}
  }

  /* The Close Button */
  .close {
    color: white;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }

  .close:hover,
  .close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
  }

  .modal-header {
    padding: 2px 16px;
    background-color: #5cb85c;
    color: white;
  }

  .modal-body {padding: 2px 16px;}

  .modal-footer {
    padding: 2px 16px;
    background-color: #5cb85c;
    color: white;
  }


  input,
  span,
  label,
  textarea {
    font-family: 'Ubuntu', sans-serif;
    display: block;
    margin: 10px;
    padding: 5px;
    border: none;
    font-size: 22px;
  }

  textarea:focus,
  input:focus {
    outline: 0;
  }
  /* Question */

  input.question,
  textarea.question {
    border-radius: 2px;
    margin: 0;
    border: none;
    width: 80%;
    background: rgba(0, 0, 0, 0);
    transition: padding-top 0.2s ease, margin-top 0.2s ease;
    overflow-x: hidden; /* Hack to make "rows" attribute apply in Firefox. */
  }
  /* Underline and Placeholder */

  input.question + label,
  textarea.question + label {
    display: block;
    position: relative;
    white-space: nowrap;
    padding: 0;
    margin: 0;
    border-top: 1px solid red;
    -webkit-transition: width 0.4s ease;
    transition: width 0.4s ease;
    height: 0px;
  }

  input.question:focus + label,
  textarea.question:focus + label {
    width: 80%;
  }

  input.question:focus,
  input.question:valid {
    padding-top: 35px;
  }

  textarea.question:valid,
  textarea.question:focus {
    margin-top: 35px;
  }

  input.question:focus + label > span,
  input.question:valid + label > span {
    top: -100px;
    color: #333;
  }

  textarea.question:focus + label > span,
  textarea.question:valid + label > span {
    top: -150px;
    color: #333;
  }

  input.question:valid + label,
  textarea.question:valid + label {
    border-color: green;
  }

  input.question:invalid,
  textarea.question:invalid {
    box-shadow: none;
  }

  input.question + label > span,
  textarea.question + label > span {
    margin: 0;
    position: absolute;
    color: #8F8F8F;
    font-size: 48px;
    top: -66px;
    left: 0px;
    z-index: -1;
    -webkit-transition: top 0.2s ease, font-size 0.2s ease, color 0.2s ease;
    transition: top 0.2s ease, font-size 0.2s ease, color 0.2s ease;
  }

  input[type="submit"] {
    -webkit-transition: opacity 0.2s ease, background 0.2s ease;
    transition: opacity 0.2s ease, background 0.2s ease;
    display: block;
    opacity: 0;
    margin: 10px 0 0 0;
    padding: 10px;
    cursor: pointer;
  }

  input[type="submit"]:hover {
    background: #EEE;
  }

  input[type="submit"]:active {
    background: #999;
  }

  input.question:valid ~ input[type="submit"], textarea.question:valid ~ input[type="submit"] {
    -webkit-animation: appear 1s forwards;
    animation: appear 1s forwards;
  }

  input.question:invalid ~ input[type="submit"], textarea.question:invalid ~ input[type="submit"] {
    display: none;
  }

  @-webkit-keyframes appear {
    100% {
      opacity: 1;
    }
  }

  @keyframes appear {
    100% {
      opacity: 1;
    }
  }

</style>
<style type="text/scss">
  .lds-circle {
    display: inline-block;
    transform: translateZ(1px);
  }
  .lds-circle > div {
    display: inline-block;
    width: 51px;
    height: 51px;
    margin: 6px;
    border-radius: 50%;
    background: #673ab7;
    animation: lds-circle 2.4s cubic-bezier(0, 0.2, 0.8, 1) infinite;
  }
  @keyframes lds-circle {
    0%, 100% {
      animation-timing-function: cubic-bezier(0.5, 0, 1, 0.5);
    }
    0% {
      transform: rotateY(0deg);
    }
    50% {
      transform: rotateY(1800deg);
      animation-timing-function: cubic-bezier(0, 0.5, 0.5, 1);
    }
    100% {
      transform: rotateY(3600deg);
    }
  }
</style>
<h3 style="text-align: left;font-family: 'Times New Roman';color: #AC0A0A">Description<button class="red button" style="margin-left: 10px" onclick="{
  document.getElementById('desctiptionModal').style.display = 'block';
}">Change</button></h3>
<hr>
<div *ngIf="user != null" style="text-align: left; padding-left: 5px">
  {{user.description}}<br><br>
  <div class="row" style="height: 245px;">
    <div class="column" style="height: 245px;width: 15%">
      <p><b>Place of residence:</b></p> <br>
      <p><b>Weight:</b></p> <br>
      <p><b>Growth:</b></p> <br>
      <p><b>Wins:</b></p> <br>
      <p><b>Loses:</b></p>
    </div>
    <div class="column" style="height: 245px;width: 15%">
      <p>{{user.country}}, {{user.city}}</p><br>
      <p *ngIf="user.weight != null">{{user.weight}}</p><p *ngIf="user.weight == null">Not specified</p><br>
      <p *ngIf="user.growth != null">{{user.growth}}</p><p *ngIf="user.growth == null">Not specified</p><br>
      <p>{{countWins}}</p><br>
      <p>{{countLoses}}</p>
    </div>
    <div class="column" style="height: 245px;width: 10%">
      <p><button class="red button" style="margin-top: -100px; margin-bottom:  -100px" onclick="{
  document.getElementById('placeModal').style.display = 'block';
}" (click)="setupPlace()">Change</button></p><br>
      <p><button class="red button" style="margin-top: -100px; margin-bottom:  -100px" onclick="{
  document.getElementById('widthModal').style.display = 'block';
}" (click)="setupWidth()">Change</button></p><br>
      <p><button class="red button" style="margin-top: -100px" onclick="{
  document.getElementById('grouthModal').style.display = 'block';
}" (click)="setupGrowth()">Change</button></p>
    </div>
  </div>
</div>
<h3 style="text-align: left;font-family: 'Times New Roman';color: #AC0A0A">Statistics</h3>
<hr>
<div class="row">
  <div class="column">
    <h4 style="font-family: 'Times New Roman';color: #AC0A0A">Wins</h4>
    <canvas baseChart style="width: 120px" height="120px" id = 'wins'
            [data]="pieChartDataWins"
            [labels]="pieChartLabelsWins"
            [chartType]="pieChartType"
            [options]="pieChartOptions"
            [colors]="pieChartColors">
    </canvas>
    <h3 style="font-family: 'Times New Roman';color: #AC0A0A" *ngIf="hasNoWins">You have no wins, yet</h3>
  </div>
  <div class="column">
    <h4 style="font-family: 'Times New Roman';color: #AC0A0A">Loses</h4>
    <canvas baseChart style="width: 120px" height="120px" id = 'loses'
            [data]="pieChartDataLoses"
            [labels]="pieChartLabelsLoses"
            [chartType]="pieChartType"
            [options]="pieChartOptions"
            [colors]="pieChartColors">
    </canvas>
    <h3 style="font-family: 'Times New Roman';color: #AC0A0A" *ngIf="hasNoLoses">You have no loses, yet</h3>
  </div>
</div>
<h3 style="text-align: left;font-family: 'Times New Roman';color: #AC0A0A">Gallery
  <button style="margin-left: 10px" class="red button" (click)="gallery()">View gallery</button>
  <button style="margin-left: 10px" class="red button" (click)="imageInput.click()">Upload photo</button></h3>
<hr>
<div class="body" id="gallery">
  <main>
    <figure class="rellax">
      <img src="https://source.unsplash.com/aiyBwbrWWlo" alt="Me coding">
      <figcaption class="rellax" data-rellax-speed="1">Me coding</figcaption>
    </figure>
    <figure class="rellax">
      <img src="https://source.unsplash.com/EaJm0ZfO84U" alt="Bronte Beach, Australia">
      <figcaption class="rellax" data-rellax-speed="1">Bronte Beach, Australia</figcaption>
    </figure>
    <figure class="rellax">
      <img src="https://source.unsplash.com/e9rkZKjdlSc" alt="The moon">
      <figcaption class="rellax" data-rellax-speed="1">The moon</figcaption>
    </figure>
  </main>
</div>
<script src="https://cdn.rawgit.com/dixonandmoe/rellax/master/rellax.min.js"></script>
<script>
  var rellax = new Rellax('.rellax',{horizontal: true, vertical: false, speed: 1.5});
</script>
<input type="file" (change)="uploadPhoto($event)" #imageInput style="display: none" accept=".jpeg,.jpg,.png,.bmp,.gif,.tiff"/>
<div id="desctiptionModal" class="modal" *ngIf="user != null">

  <!-- Modal content -->
  <div class="modal-content">
    <div class="modal-header">
      <h2>Change description</h2>
    </div>
    <div class="modal-body" style="height: 250px">
      <textarea id="changeDesctiption" style="width: 100%; height: 90%" type="text" placeholder="Content">{{user.description}}</textarea>
    </div>
    <div class="modal-footer">
      <button onclick="{
        document.getElementById('desctiptionModal').style.display = 'none';
      }" (click)="updateDesctiption()">Save</button>
      <button style="margin-left: 10px" onclick="{
        document.getElementById('desctiptionModal').style.display = 'none';
      }">Close</button>
    </div>
  </div>

</div>
<div id="widthModal" class="modal" *ngIf="user != null">

  <!-- Modal content -->
  <div class="modal-content" style="width: 25%">
    <div class="modal-header">
      <h2>Change width</h2>
    </div>
    <div class="modal-body">
      <input type="number" placeholder="width" id="changeWidth" style="width: 100%">
    </div>
    <div class="modal-footer">
      <button onclick="{
        document.getElementById('widthModal').style.display = 'none';
      }" (click)="updateWidth()">Save</button>
      <button style="margin-left: 10px" onclick="{
        document.getElementById('widthModal').style.display = 'none';
      }">Close</button>
    </div>
  </div>

</div>
<div id="grouthModal" class="modal" *ngIf="user != null">

  <!-- Modal content -->
  <div class="modal-content" style="width: 25%">
    <div class="modal-header">
      <h2>Change growth</h2>
    </div>
    <div class="modal-body">
      <input id="changeGrowth" type="number" placeholder="growth" style="width: 100%">
    </div>
    <div class="modal-footer">
      <button onclick="{
        document.getElementById('grouthModal').style.display = 'none';
      }" (click)="updateGrowth()">Save</button>
      <button style="margin-left: 10px" onclick="{
        document.getElementById('grouthModal').style.display = 'none';
      }">Close</button>
    </div>
  </div>

</div>
<div id="placeModal" class="modal" *ngIf="user != null">

  <!-- Modal content -->
  <div class="modal-content" style="width: 25%">
    <div class="modal-header">
      <h2>Change growth</h2>
    </div>
    <div class="modal-body">
      <input list="countries" class="question" placeholder="Country" type="text" id="country" (change)="onChangeCountry($event.target.value)" required autocomplete="on" style="width: 100%">
      <label for="country"><span style="opacity: 0.5">Country</span></label>
      <datalist id="countries">
        <option *ngFor="let country of countries" [value]="country.name">{{country.name}}</option>
      </datalist>
      <div *ngIf="isLoading">
        <div class="lds-circle"><div></div></div><br>
      </div>
      <input type="text" class="question" placeholder="City" list="cities" id="city" required autocomplete="on" *ngIf="!isLoading" style="width: 100%">
      <label for="city" *ngIf="!isLoading"><span style="opacity: 0.5">City</span></label>
      <datalist id="cities">
        <option *ngFor="let city of cities" [value]="city.name">{{city.name}}</option>
      </datalist>
    </div>
    <div class="modal-footer">
      <button onclick="{
        document.getElementById('placeModal').style.display = 'none';
      }" (click)="updatePlace()">Save</button>
      <button style="margin-left: 10px" onclick="{
        document.getElementById('placeModal').style.display = 'none';
      }">Close</button>
    </div>
  </div>

</div>
