<style>
  agm-map {
    height: 500px;
  }
</style>
<agm-map [latitude]="latitude" [longitude]="longitude" (mapClick)="placeMarker($event)">
  <agm-marker *ngFor="let marker of userMarkers" [latitude]="marker.latitude"
              [longitude]="marker.longitude"></agm-marker>
  <agm-marker (markerClick)="markerClick(infoWindow)" *ngFor="let marker of markers" [latitude]="marker.latitude"
              [longitude]="marker.longitude">
    <agm-info-window [disableAutoPan]="false" #infoWindow>

      <div>
        {{marker.date | date: 'dd.MM.yyyy HH:mm'}}
        {{marker.fightStyle}}
      </div>
      <div>
        <span class="btn btn-attention"><i class="fa fa-angle-double-right" (click)="showProfile(marker.fighterInviter.email)">{{marker.fighterInviter.name}} {{marker.fighterInviter.surname}}</i></span>
        <br>
        <span class="btn btn-attention"><i class="fa fa-angle-double-right">vs</i></span><br>
        <span class="btn btn-attention"><i class="fa fa-angle-double-right" (click)="showProfile(marker.fighterInvited.email)">{{marker.fighterInvited.name}} {{marker.fighterInvited.surname}}</i></span>
      </div>

    </agm-info-window>
  </agm-marker>
</agm-map>
