<style>
  agm-map {
    height: 500px;
  }
  form {
    outline: 0;
    float: left;
    -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    -webkit-border-radius: 4px;
    border-radius: 4px;
  }

  form > .textbox {
    outline: 0;
    height: 42px;
    width: 30%;
    line-height: 42px;
    padding: 0 16px;
    background-color: rgba(255, 255, 255, 0.8);
    color: #212121;
    border: 0;
    float: left;
    -webkit-border-radius: 4px 0 0 4px;
    border-radius: 4px 0 0 4px;
  }

  form > .textbox:focus {
    outline: 0;
    background-color: #FFF;
  }

  form > .button {
    outline: 0;
    background: none;
    background-color: rgba(38, 50, 56, 0.8);
    float: left;
    height: 42px;
    width: 10%;
    text-align: center;
    line-height: 42px;
    border: 0;
    color: #FFF;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: 16px;
    text-rendering: auto;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
    -webkit-transition: background-color .4s ease;
    transition: background-color .4s ease;
    -webkit-border-radius: 0 4px 4px 0;
    border-radius: 0 4px 4px 0;
  }

  form > .button:hover {
    background-color: rgba(0, 150, 136, 0.8);
  }
</style>
<style type="text/scss">
  .lds-circle {
    display: inline-block;
    transform: translateZ(1px);
  }
  .lds-circle > div {
    display: inline-block;
    width: 51px;
    height: 51px;
    margin: 6px;
    border-radius: 50%;
    background: #673ab7;
    animation: lds-circle 2.4s cubic-bezier(0, 0.2, 0.8, 1) infinite;
  }
  @keyframes lds-circle {
    0%, 100% {
      animation-timing-function: cubic-bezier(0.5, 0, 1, 0.5);
    }
    0% {
      transform: rotateY(0deg);
    }
    50% {
      transform: rotateY(1800deg);
      animation-timing-function: cubic-bezier(0, 0.5, 0.5, 1);
    }
    100% {
      transform: rotateY(3600deg);
    }
  }
</style>
<form method="post" style="font-style: normal; width: 100%">
  <input type="text" class="textbox" placeholder="Name" name="name" id="name" [(ngModel)]="model.name"
         #name="ngModel" style="width: 25%;">
  <input placeholder="Fight style" type="text" list="fightStyles" class="textbox"  name="fightStyle" id="fightStyle" [(ngModel)]="model.fightStyle"
         #fightStyle="ngModel" style="width: 25%;">
  <datalist id="fightStyles">
    <option>Aikido</option>
    <option>Boxing</option>
    <option>Muay Thai</option>
    <option>Greco-Roman wrestling</option>
    <option>Freestyle wrestling</option>
    <option>Taekwondo</option>
    <option>Jujutsu</option>
    <option>Krav Maga</option>
    <option>Wing Chun</option>
  </datalist>
  <input type="text" onfocus="(this.type='date')" class="textbox" placeholder="Start date" name="startDate" id="startDate" [(ngModel)]="model.startDate"
         #name="ngModel" style="width: 20%;">
  <input type="text" onfocus="(this.type='date')" class="textbox" placeholder="End date" name="endDate" id="endDate" [(ngModel)]="model.endDate"
         #name="ngModel" style="width: 20%;">
  <button class="button" (click)="search()"><i class="glyphicon glyphicon-search"></i></button>
</form>
<br>
<br>
<br>
<agm-map [latitude]="latitude" [longitude]="longitude" (mapClick)="placeMarker($event)">
  <agm-marker *ngFor="let marker of userMarkers" [latitude]="marker.latitude"
              [longitude]="marker.longitude"></agm-marker>
  <agm-marker (markerClick)="markerClick(infoWindow)" *ngFor="let marker of markers" [latitude]="marker.latitude"
              [longitude]="marker.longitude">
    <agm-info-window [disableAutoPan]="false" #infoWindow>

      <div>
        {{marker.date | date: 'dd.MM.yyyy HH:mm'}}
        {{marker.fightStyle}}
      </div>
      <div>
        <span class="btn btn-attention"><i class="fa fa-angle-double-right" (click)="showProfile(marker.fighterInviter.email)">{{marker.fighterInviter.name}} {{marker.fighterInviter.surname}}</i></span>
        <br>
        <span class="btn btn-attention"><i class="fa fa-angle-double-right">vs</i></span><br>
        <span class="btn btn-attention"><i class="fa fa-angle-double-right" (click)="showProfile(marker.fighterInvited.email)">{{marker.fighterInvited.name}} {{marker.fighterInvited.surname}}</i></span>
      </div>

    </agm-info-window>
  </agm-marker>
</agm-map>
<div *ngIf="isSearching">
  <div class="lds-circle"><div></div></div><br>
</div>
