<style>
  body {
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    font-family: 'Roboto', Tahoma, Arial, sans-serif;
    line-height: 1.5;
    font-size: 13px;
  }
  form {
    width: 100%;
    outline: 0;
    float: left;
    -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    -webkit-border-radius: 4px;
    border-radius: 4px;
  }

  form > .textbox {
    outline: 0;
    height: 42px;
    width: 30%;
    line-height: 42px;
    padding: 0 16px;
    background-color: rgba(255, 255, 255, 0.8);
    color: #212121;
    border: 0;
    float: left;
    -webkit-border-radius: 4px 0 0 4px;
    border-radius: 4px 0 0 4px;
  }

  form > .textbox:focus {
    outline: 0;
    background-color: #FFF;
  }

  form > .button {
    outline: 0;
    background: none;
    background-color: rgba(38, 50, 56, 0.8);
    float: left;
    height: 42px;
    width: 10%;
    text-align: center;
    line-height: 42px;
    border: 0;
    color: #FFF;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: 16px;
    text-rendering: auto;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
    -webkit-transition: background-color .4s ease;
    transition: background-color .4s ease;
    -webkit-border-radius: 0 4px 4px 0;
    border-radius: 0 4px 4px 0;
  }

  form > .button:hover {
    background-color: rgba(0, 150, 136, 0.8);
  }
  select:required:invalid {
    color: gray;
  }

  .dot {
    height: 15px;
    width: 15px;
    background-color: #AC0A0A;
    border-radius: 50%;
    display: inline-block;
  }
  /* setup tooltips */
  .tooltip {
    position: relative;
  }
  .tooltip:before,
  .tooltip:after {
    display: block;
    opacity: 0;
    pointer-events: none;
    position: absolute;
  }
  .tooltip:after {
    border-right: 6px solid transparent;
    border-bottom: 6px solid rgba(0,0,0,.75);
    border-left: 6px solid transparent;
    content: '';
    height: 0;
    top: 20px;
    left: 20px;
    width: 0;
  }
  .tooltip:before {
    background: rgba(0,0,0,.75);
    border-radius: 2px;
    color: #fff;
    content: attr(data-title);
    font-size: 14px;
    padding: 6px 10px;
    top: 26px;
    white-space: nowrap;
  }

  /* the animations */
  /* fade */
  .tooltip.fade:after,
  .tooltip.fade:before {
    transform: translate3d(0,-10px,0);
    transition: all .15s ease-in-out;
  }
  .tooltip.fade:hover:after,
  .tooltip.fade:hover:before {
    opacity: 1;
    transform: translate3d(0,0,0);
  }

  .profile-userpic img {
    float: none;
    margin: 0 auto;
    width: 50%;
    height: 50%;
    -webkit-border-radius: 50% !important;
    -moz-border-radius: 50% !important;
    border-radius: 50% !important;
  }

</style>
<style type="text/scss">
  .lds-circle {
    display: inline-block;
    transform: translateZ(1px);
  }
  .lds-circle > div {
    display: inline-block;
    width: 51px;
    height: 51px;
    margin: 6px;
    border-radius: 50%;
    background: #673ab7;
    animation: lds-circle 2.4s cubic-bezier(0, 0.2, 0.8, 1) infinite;
  }
  @keyframes lds-circle {
    0%, 100% {
      animation-timing-function: cubic-bezier(0.5, 0, 1, 0.5);
    }
    0% {
      transform: rotateY(0deg);
    }
    50% {
      transform: rotateY(1800deg);
      animation-timing-function: cubic-bezier(0, 0.5, 0.5, 1);
    }
    100% {
      transform: rotateY(3600deg);
    }
  }
</style>
<form method="post" style="font-style: normal">
  <select class="textbox" (change)="model.style = $event.target.value === '' ? null : $event.target.value" style="width: 45%" required>
    <option value="" hidden>Fight style</option>
    <option>Aikido</option>
    <option>Boxing</option>
    <option>Muay Thai</option>
    <option>Greco-Roman wrestling</option>
    <option>Freestyle wrestling</option>
    <option>Taekwondo</option>
    <option>Jujutsu</option>
    <option>Krav Maga</option>
    <option>Wing Chun</option>
  </select>
  <input type="text" class="textbox" placeholder="Name" name="name" id="name" [(ngModel)]="model.name"
         #name="ngModel" style="width: 45%">
  <button class="button" (click)="search()"><i class="glyphicon glyphicon-search"></i></button>
</form>
<br>
<br>
<br>
<hr>
<div *ngIf="!isSearching">
<div *ngFor = "let video of videos" class="profile-userpic">
  <iframe
    [src]="video.safeUrl"
    width="560" height="315"
    style="border:none;overflow:hidden"
    scrolling="no" frameborder="0" allowTransparency="true" allowFullScreen="true"></iframe>
  <br>
  <img src="assets/images/user.jpg" style="height: 30px; width: 30px; margin-right: 5px" (click)="showProfile(video.fighter1.email)">
  <button class="btn btn-default btn-sm" style="background-color: #293239; color: #f6f9fb" (click)="voteForFighter1(video)">{{video.fighter1.name}} {{video.fighter1.surname}} ({{video.votes1.length}})</button>
  <button class="btn btn-default btn-sm" style="background-color: #293239; color: #f6f9fb" (click)="comments(video)">Comments</button>
  <button class="btn btn-default btn-sm" style="background-color: #293239; color: #f6f9fb" (click)="voteForFighter2(video)">{{video.fighter2.name}} {{video.fighter2.surname}} ({{video.votes2.length}})</button>
  <img src="assets/images/user.jpg" style="height: 30px; width: 30px; margin-left: 5px"  (click)="showProfile(video.fighter2.email)">
  <hr>
</div>
</div>
<div *ngIf="isSearching">
  <div class="lds-circle"><div></div></div><br>
</div>
<ngb-pagination [collectionSize]="collectionSize" [(page)]="page" (pageChange)="search()"></ngb-pagination>
